html {
  font-size: 62.5%; }

body {
  background-color: #f9f8f6; }

#header_in {
  padding: 0; }
  #header_in .logo {
    text-align: center;
    padding: 15px 0 10px; }
    #header_in .logo h1 {
      margin: 0; }
  #header_in .sp_navi .sp_navi_all {
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    -webkit-flex-direction: row;
    flex-direction: row;
    list-style: none;
    margin: 0; }
    #header_in .sp_navi .sp_navi_all li {
      -webkit-flex: 0;
      flex: 0;
      padding: 0 7px; }
  #header_in .sp_navi .sp_navi_li {
    display: none; }
    #header_in .sp_navi .sp_navi_li li {
      list-style-type: none;
      text-align: center;
      padding: 0;
      margin: 0; }
      #header_in .sp_navi .sp_navi_li li a {
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: #887f69;
        font-weight: bold;
        display: block;
        padding: 10px 0;
        background-color: #fff;
        border-bottom: solid 1px #e2ddd4; }
  #header_in .pc_navi {
    display: none; }
  @media (min-width: 550px) {
    #header_in .logo {
      text-align: left; }
      #header_in .logo h1 {
        margin: 0; }
    #header_in .navi .sp_navi {
      display: none; }
    #header_in .navi .pc_navi {
      display: block; }
      #header_in .navi .pc_navi .pc_navi_li {
        display: -webkit-flex;
        display: flex;
        justify-content: flex-end;
        -webkit-flex-direction: row;
        flex-direction: row;
        align-items: flex-end;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: 30px 0 0;
        list-style: none; }
        #header_in .navi .pc_navi .pc_navi_li li {
          -webkit-flex: 0 0 auto;
          flex: 0 0 auto;
          padding-left: 15px;
          margin: 0; } }

#main .container {
  padding: 0 10px;
  margin: 0 auto; }

#newitems .items, #popular .items {
  display: -webkit-flex;
  display: flex;
  justify-content: flex-start;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }
  #newitems .items .item, #popular .items .item {
    background-color: #fff;
    padding: 7px;
    margin: 1px;
    text-align: center; }
    #newitems .items .item h3, #popular .items .item h3 {
      font-size: 15px;
      font-size: 1.5rem;
      letter-spacing: .5px;
      margin-bottom: 5px;
      text-align: left; }
    #newitems .items .item p, #popular .items .item p {
      font-size: 15px;
      font-size: 1.5rem;
      text-align: left;
      margin: 0; }
@media (max-width: 549px) {
  #newitems h2.pc_title, #popular h2.pc_title {
    display: none; }
  #newitems h2.sp_title, #popular h2.sp_title {
    text-align: center;
    margin-bottom: 10px; }
  #newitems .item, #popular .item {
    -webkit-flex: 1 1 45%;
    flex: 1 1 45%; } }
@media (min-width: 550px) {
  #newitems h2.pc_title, #popular h2.pc_title {
    margin-bottom: 10px; }
  #newitems h2.sp_title, #popular h2.sp_title {
    display: none; }
  #newitems .item, #popular .item {
    -webkit-flex: 1 1 30%;
    flex: 1 1 30%; } }

#guide .guide_in {
  -webkit-flex: 1;
  flex: 1;
  background-color: #fff;
  padding: 20px;
  margin: 2px; }
  #guide .guide_in h3 {
    font-size: 18px;
    font-size: 1.8rem;
    color: #887f69;
    font-weight: bold; }
  #guide .guide_in h4 {
    font-size: 15px;
    font-size: 1.5rem;
    color: #887f69;
    font-weight: bold;
    margin-bottom: 7px; }
  #guide .guide_in p {
    font-size: 15px;
    font-size: 1.5rem;
    margin-bottom: 10px; }
  #guide .guide_in img {
    margin-bottom: 10px; }
@media (max-width: 549px) {
  #guide .guides {
    display: -webkit-flex;
    display: flex;
    justify-content: flex-start;
    -webkit-flex-direction: column;
    flex-direction: column; }
  #guide h2.pc_title {
    display: none; }
  #guide h2.sp_title {
    text-align: center;
    margin-bottom: 10px; } }
@media (min-width: 550px) {
  #guide .guides {
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    -webkit-flex-direction: row;
    flex-direction: row; }
  #guide h2.pc_title {
    margin-bottom: 10px; }
  #guide h2.sp_title {
    display: none; } }

#seach {
  background-color: #fff;
  padding: 25px 20px; }
  #seach img {
    display: none; }
  #seach .seachbox {
    background-color: #eeeeee;
    background-image: url(../images/top/search_icon.png);
    background-position: 97% center;
    background-repeat: no-repeat;
    color: #b0b0b0;
    font-style: italic;
    padding: 10px 15px; }
  @media (min-width: 550px) {
    #seach img {
      display: block;
      margin-bottom: 10px; } }

#pagelink {
  background-color: #887f69;
  padding: 1.5rem;
  margin: 15px 0;
  background-image: url(../images/top/next_icon.png);
  background-position: 97% center;
  background-repeat: no-repeat; }

#categories .sidetitle {
  background-color: #887f69;
  padding: 1.5rem;
  margin: 15px 0 0;
  background-image: url(../images/top/down_icon.png);
  background-position: 97% center;
  background-repeat: no-repeat; }
#categories ul {
  list-style: none;
  display: none; }
  #categories ul li {
    background-color: #fff;
    padding: 1.5rem;
    margin-bottom: 2px;
    background-image: url(../images/top/next_icon_gray.png);
    background-position: 97% center;
    background-repeat: no-repeat; }

#about .sidetitle, #shop_info .sidetitle {
  background-color: #887f69;
  padding: 1.5rem;
  margin: 15px 0 0; }
#about .side_contents, #shop_info .side_contents {
  background-color: #fff;
  padding: 15px;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  -webkit-flex-direction: row;
  flex-direction: row; }
  #about .side_contents div, #shop_info .side_contents div {
    -webkit-flex: 0 0 47%;
    flex: 0 0 47%; }
  #about .side_contents .side_contents_text p, #shop_info .side_contents .side_contents_text p {
    margin-bottom: 10px; }
  @media (min-width: 550px) {
    #about .side_contents, #shop_info .side_contents {
      -webkit-flex-direction: column;
      flex-direction: column; }
      #about .side_contents div, #shop_info .side_contents div {
        -webkit-flex: 1;
        flex: 1; }
      #about .side_contents a, #shop_info .side_contents a {
        display: block;
        text-align: center; } }

.pagetop {
  text-align: center;
  padding: 20px;
  border-bottom: solid 2px #887f69; }
  @media (min-width: 550px) {
    .pagetop {
      text-align: right; } }

.footer_menu {
  padding: 15px;
  /* position: relative;
  @include clearfix; */ }
  .footer_menu ul {
    list-style: none;
    margin: 0;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap; }
    .footer_menu ul li {
      font-size: 14px;
      font-size: 1.4rem;
      white-space: nowrap;
      margin: 0;
      padding: 0 5px;
      -webkit-flex: 0;
      flex: 0; }
      .footer_menu ul li a {
        text-decoration: none;
        color: inherit; }

.copyright {
  color: #b0b0b0;
  font-size: 12px;
  font-size: 1.2rem;
  text-align: center;
  letter-spacing: 0.5px; }

.breadcrumb {
  background-color: #e2ddd4; }
  .breadcrumb ul {
    list-style: none;
    margin-bottom: 15px;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap; }
  .breadcrumb li, .breadcrumb li.home {
    color: #887f69;
    font-size: 12px;
    font-size: 1.2rem;
    text-transform: uppercase;
    padding: 10px 5px;
    margin: 0;
    -webkit-flex: 0;
    flex: 0;
    white-space: nowrap; }
    .breadcrumb li a, .breadcrumb li.home a {
      text-decoration: none;
      color: inherit; }
  .breadcrumb li.home {
    background-image: url(../images/list/home_icon.png);
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 18px;
    margin-left: 10px; }

.category_photo_pc {
  display: none; }
  @media (min-width: 550px) {
    .category_photo_pc {
      display: block; } }

@media (min-width: 550px) {
  .category_photo_sp {
    display: none; } }

#category_items {
  margin: 10px 0;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }
  #category_items .item {
    -webkit-flex: 1 1 45%;
    flex: 1 1 45%;
    background-color: #fff;
    padding: 7px;
    margin: 1px;
    text-align: center; }
    #category_items .item h3 {
      font-size: 15px;
      font-size: 1.5rem;
      letter-spacing: .5px;
      margin-bottom: 5px;
      text-align: left; }
    #category_items .item p {
      font-size: 15px;
      font-size: 1.5rem;
      text-align: left;
      margin: 0; }
  @media (min-width: 550px) {
    #category_items .item {
      -webkit-flex: 1 1 30%;
      flex: 1 1 30%; } }
  #category_items .pagenation {
    margin: 15px 0;
    width: 100%;
    overflow: hidden;
    *zoom: 1; }
    #category_items .pagenation .back {
      float: left; }
    #category_items .pagenation .next {
      float: right; }
    #category_items .pagenation a {
      color: #fff;
      font-weight: bold;
      background-color: #887f69;
      text-transform: uppercase;
      text-decoration: none;
      padding: 10px 20px; }

#recent_pro {
  overflow: hidden;
  *zoom: 1; }
  #recent_pro .item {
    background-color: #fff;
    padding: 7px;
    margin: 1px;
    text-align: center; }
    #recent_pro .item h3 {
      font-size: 15px;
      font-size: 1.5rem;
      letter-spacing: .5px;
      margin-bottom: 5px;
      text-align: left; }
    #recent_pro .item p {
      font-size: 15px;
      font-size: 1.5rem;
      text-align: left;
      margin: 0; }
  @media (max-width: 549px) {
    #recent_pro h2.sp_title {
      text-align: center;
      margin-bottom: 10px; }
    #recent_pro h2.pc_title {
      display: none; }
    #recent_pro .item {
      float: left;
      width: 49%;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; } }
  @media (min-width: 550px) {
    #recent_pro h2.sp_title {
      display: none; }
    #recent_pro h2.pc_title {
      margin-bottom: 10px; }
    #recent_pro .item {
      float: left;
      width: 32.7%;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; } }

#product {
  background-color: #fff;
  padding: 20px 10px; }
  #product .product_title {
    border-bottom: solid 2px #e2ddd4;
    margin-bottom: 15px; }
    #product .product_title h1 {
      font-size: 20px;
      font-size: 2rem;
      font-weight: bold;
      letter-spacing: 1px;
      margin: 0 0 5px 0; }
    #product .product_title p {
      font-size: 15px;
      font-size: 1.5rem;
      color: #b0b0b0;
      margin: 0 0 15px 0; }
  #product .product_img {
    border-bottom: solid 2px #e2ddd4;
    padding-bottom: 10px; }
    #product .product_img ul {
      list-style: none;
      margin: 0;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: space-between;
      justify-content: space-between;
      -webkit-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap; }
      #product .product_img ul li {
        -webkit-flex: 1 0 16%;
        flex: 1 0 16%;
        padding-right: 5px;
        margin: 0; }
      #product .product_img ul li:nth-child(5n) {
        padding-right: 0; }
  @media (min-width: 550px) {
    #product {
      padding: 30px 50px; }
      #product .product_title {
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        -webkit-flex-direction: row;
        flex-direction: row; }
        #product .product_title h1 {
          -webkit-flex-grow: 3;
          flex-grow: 3;
          font-size: 18px;
          font-size: 1.8rem; }
        #product .product_title p {
          -webkit-flex-grow: 1;
          flex-grow: 1;
          font-size: 14px;
          font-size: 1.4rem;
          text-align: right; }
      #product .product_img {
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        -webkit-flex-direction: row;
        flex-direction: row; }
        #product .product_img .display_img {
          -webkit-flex: 5;
          flex: 5;
          -webkit-align-self: flex-start;
          align-self: flex-start;
          padding-right: 10px; }
        #product .product_img ul {
          -webkit-flex: 2;
          flex: 2;
          display: -webkit-flex;
          display: flex;
          -webkit-justify-content: space-between;
          justify-content: space-between;
          -webkit-flex-direction: row;
          flex-direction: row;
          -webkit-flex-wrap: wrap;
          flex-wrap: wrap; }
          #product .product_img ul li {
            -webkit-flex: 1 0 45%;
            flex: 1 0 45%;
            padding-right: 10px; }
          #product .product_img ul li:nth-child(5n) {
            padding-right: 10px; }
          #product .product_img ul li:nth-child(2n) {
            padding-right: 0; } }
  #product .product_color table {
    width: 100%; }
    #product .product_color table th {
      color: #887f69;
      background: #f9f8f6;
      font-weight: 400; }
    #product .product_color table td {
      color: #e2ddd4; }
    #product .product_color table th, #product .product_color table td {
      text-align: center;
      border: solid 2px #e2ddd4;
      padding: 10px 0;
      font-size: 15px;
      font-size: 1.5rem; }
    #product .product_color table input[type=radio] {
      width: 18px;
      height: 18px;
      vertical-align: middle;
      margin: 0; }
  #product .product_price .price {
    border-top: solid 2px #e2ddd4;
    border-bottom: solid 2px #e2ddd4;
    padding: 10px 0;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-flex-direction: row;
    flex-direction: row; }
    #product .product_price .price h2 {
      -webkit-flex: 0 1 100px;
      flex: 0 1 100px;
      margin: 0; }
      #product .product_price .price h2 img {
        vertical-align: middle; }
    #product .product_price .price p {
      -webkit-flex: 0 1 180px;
      flex: 0 1 180px;
      font-style: italic;
      margin: 0; }
      #product .product_price .price p span.red {
        color: #ff0080;
        font-weight: bold;
        letter-spacing: 1px; }
      #product .product_price .price p span.large {
        font-size: 26px;
        font-size: 2.6rem; }
  #product .product_price .quantity {
    padding: 10px 0;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-flex-direction: row;
    flex-direction: row; }
    #product .product_price .quantity h2 {
      -webkit-flex: 0 1 100px;
      flex: 0 1 100px;
      margin: 0; }
      #product .product_price .quantity h2 img {
        vertical-align: middle; }
    #product .product_price .quantity input {
      -webkit-flex: 0 1 180px;
      flex: 0 1 180px;
      margin: 0;
      width: 100%;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
  @media (max-width: 549px) {
    #product .product_price {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: column;
      flex-direction: column; }
      #product .product_price .price {
        -webkit-flex: 1;
        flex: 1;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box; }
      #product .product_price .quantity {
        border-bottom: solid 2px #e2ddd4;
        -webkit-flex: 1;
        flex: 1;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box; }
      #product .product_price .cart {
        text-align: center;
        padding-top: 15px;
        -webkit-flex: 1;
        flex: 1;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box; } }
  @media (min-width: 550px) {
    #product .product_price {
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row;
      flex-direction: row;
      -webkit-justify-content: space-between;
      justify-content: space-between; }
      #product .product_price .product_gr {
        -webkit-flex: 1 1 63%;
        flex: 1 1 63%;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        margin-right: 15px; }
      #product .product_price .cart {
        -webkit-flex: 1 1 35%;
        flex: 1 1 35%;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box; } }
  #product .product_text h2 {
    color: #887f69;
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: bold;
    border-bottom: solid 2px #887f69;
    padding: 30px 0 15px; }
  #product .product_text h3 {
    color: #887f69;
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 15px; }
  #product .product_text table {
    width: 100%; }
    #product .product_text table th {
      background: #f9f8f6;
      font-weight: 400;
      text-align: center;
      padding: 12px;
      width: 25%; }
    #product .product_text table td {
      padding: 12px; }
    #product .product_text table th, #product .product_text table td {
      font-size: 15px;
      font-size: 1.5rem;
      color: #887f69;
      border: solid 2px #e2ddd4;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
  @media (min-width: 550px) {
    #product .product_text h2 {
      border-top: solid 2px #e2ddd4; } }

/*# sourceMappingURL=style.css.map */
