/* line 3, ../sass/style.scss */
html {
  font-size: 62.5%;
}

/* line 19, ../sass/style.scss */
body {
  background-color: #f9f8f6;
}

/* line 23, ../sass/style.scss */
#header_in {
  padding: 0;
}
/* line 26, ../sass/style.scss */
#header_in .logo {
  text-align: center;
  padding: 15px 0 10px;
}
/* line 30, ../sass/style.scss */
#header_in .logo h1 {
  margin: 0;
}
/* line 38, ../sass/style.scss */
#header_in .sp_navi .sp_navi_all {
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  -webkit-flex-direction: row;
  flex-direction: row;
  list-style: none;
  margin: 0;
}
/* line 46, ../sass/style.scss */
#header_in .sp_navi .sp_navi_all li {
  -webkit-flex: 0;
  flex: 0;
  padding: 0 7px;
}
/* line 53, ../sass/style.scss */
#header_in .sp_navi .sp_navi_li {
  display: none;
}
/* line 56, ../sass/style.scss */
#header_in .sp_navi .sp_navi_li li {
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin: 0;
}
/* line 62, ../sass/style.scss */
#header_in .sp_navi .sp_navi_li li a {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #887f69;
  font-weight: bold;
  display: block;
  padding: 10px 0;
  background-color: #fff;
  border-bottom: solid 1px #e2ddd4;
}
/* line 80, ../sass/style.scss */
#header_in .pc_navi {
  display: none;
}
@media (min-width: 550px) {
  /* line 86, ../sass/style.scss */
  #header_in .logo {
    text-align: left;
  }
  /* line 89, ../sass/style.scss */
  #header_in .logo h1 {
    margin: 0;
  }
  /* line 96, ../sass/style.scss */
  #header_in .navi .sp_navi {
    display: none;
  }
  /* line 100, ../sass/style.scss */
  #header_in .navi .pc_navi {
    display: block;
  }
  /* line 103, ../sass/style.scss */
  #header_in .navi .pc_navi .pc_navi_li {
    display: -webkit-flex;
    display: flex;
    justify-content: flex-end;
    -webkit-flex-direction: row;
    flex-direction: row;
    align-items: flex-end;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 30px 0 0;
    list-style: none;
  }
  /* line 114, ../sass/style.scss */
  #header_in .navi .pc_navi .pc_navi_li li {
    -webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-left: 15px;
    margin: 0;
  }
}

/* line 130, ../sass/style.scss */
#main .container {
  padding: 0 10px;
  margin: 0 auto;
}

/* line 136, ../sass/style.scss */
#newitems, #popular {
  padding-top: 45px;
  margin: 30px 0;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-start;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  background-image: url(../images/top_sp/title_new_item.png);
  background-position: top center;
  background-repeat: no-repeat;
}
@media screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  /* line 136, ../sass/style.scss */
  #newitems, #popular {
    background-image: url("../images/top_sp/title_new_item@2x.png");
  }
}
/* line 153, ../sass/style.scss */
#newitems .item, #popular .item {
  -webkit-flex: 1 1 45%;
  flex: 1 1 45%;
  background-color: #fff;
  padding: 7px;
  margin: 1px;
  text-align: center;
}
/* line 160, ../sass/style.scss */
#newitems .item h3, #popular .item h3 {
  font-size: 15px;
  font-size: 1.5rem;
  letter-spacing: .5px;
  margin-bottom: 5px;
  text-align: left;
}
/* line 167, ../sass/style.scss */
#newitems .item p, #popular .item p {
  font-size: 15px;
  font-size: 1.5rem;
  text-align: left;
  margin: 0;
}
@media (min-width: 550px) {
  /* line 136, ../sass/style.scss */
  #newitems, #popular {
    background-image: url(../images/top/title_newitems.png);
    background-position: top center;
    background-repeat: no-repeat;
  }
  /* line 179, ../sass/style.scss */
  #newitems .item, #popular .item {
    -webkit-flex: 1 1 30%;
    flex: 1 1 30%;
  }
}

/* line 188, ../sass/style.scss */
#popular {
  background-image: url(../images/top_sp/title_popular.png);
  background-position: top center;
  background-repeat: no-repeat;
}
@media screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  /* line 188, ../sass/style.scss */
  #popular {
    background-image: url("../images/top_sp/title_popular@2x.png");
  }
}
@media (min-width: 550px) {
  /* line 188, ../sass/style.scss */
  #popular {
    background-image: url(../images/top/title_popular.png);
    background-position: top center;
    background-repeat: no-repeat;
  }
}

/* line 207, ../sass/style.scss */
#guide {
  padding-top: 45px;
  margin: 30px 0;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-start;
  -webkit-flex-direction: column;
  flex-direction: column;
  background-image: url(../images/top_sp/title_guide.png);
  background-position: top center;
  background-repeat: no-repeat;
}
@media screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  /* line 207, ../sass/style.scss */
  #guide {
    background-image: url("../images/top_sp/title_guide@2x.png");
  }
}
/* line 223, ../sass/style.scss */
#guide .guide_in {
  -webkit-flex: 1;
  flex: 1;
  background-color: #fff;
  padding: 20px;
  margin: 2px;
}
/* line 229, ../sass/style.scss */
#guide .guide_in h3 {
  font-size: 18px;
  font-size: 1.8rem;
  color: #887f69;
  font-weight: bold;
}
/* line 235, ../sass/style.scss */
#guide .guide_in h4 {
  font-size: 15px;
  font-size: 1.5rem;
  color: #887f69;
  font-weight: bold;
  margin-bottom: 7px;
}
/* line 242, ../sass/style.scss */
#guide .guide_in p {
  font-size: 15px;
  font-size: 1.5rem;
  margin-bottom: 10px;
}
/* line 247, ../sass/style.scss */
#guide .guide_in img {
  margin-bottom: 10px;
}
@media (min-width: 550px) {
  /* line 207, ../sass/style.scss */
  #guide {
    background-image: url(../images/top/title_guide.png);
    background-position: top center;
    background-repeat: no-repeat;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    -webkit-flex-direction: row;
    flex-direction: row;
  }
}

/* line 265, ../sass/style.scss */
#seach {
  background-color: #fff;
  padding: 25px 20px;
}
/* line 269, ../sass/style.scss */
#seach img {
  display: none;
}
/* line 273, ../sass/style.scss */
#seach .seachbox {
  background-color: #eeeeee;
  background-image: url(../images/top/search_icon.png);
  background-position: 97% center;
  background-repeat: no-repeat;
  color: #b0b0b0;
  font-style: italic;
  padding: 10px 15px;
}
@media (min-width: 550px) {
  /* line 286, ../sass/style.scss */
  #seach img {
    display: block;
    margin-bottom: 10px;
  }
}

/* line 294, ../sass/style.scss */
#pagelink {
  background-color: #887f69;
  padding: 1.5rem;
  margin: 15px 0;
  background-image: url(../images/top/next_icon.png);
  background-position: 97% center;
  background-repeat: no-repeat;
}

/* line 307, ../sass/style.scss */
#categories .sidetitle {
  background-color: #887f69;
  padding: 1.5rem;
  margin: 15px 0 0;
  background-image: url(../images/top/down_icon.png);
  background-position: 97% center;
  background-repeat: no-repeat;
}
/* line 317, ../sass/style.scss */
#categories ul {
  list-style: none;
  display: none;
}
/* line 321, ../sass/style.scss */
#categories ul li {
  background-color: #fff;
  padding: 1.5rem;
  margin-bottom: 2px;
  background-image: url(../images/top/next_icon_gray.png);
  background-position: 97% center;
  background-repeat: no-repeat;
}

/* line 336, ../sass/style.scss */
#about .sidetitle, #shop_info .sidetitle {
  background-color: #887f69;
  padding: 1.5rem;
  margin: 15px 0 0;
}
/* line 342, ../sass/style.scss */
#about .side_contents, #shop_info .side_contents {
  background-color: #fff;
  padding: 15px;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  -webkit-flex-direction: row;
  flex-direction: row;
}
/* line 350, ../sass/style.scss */
#about .side_contents div, #shop_info .side_contents div {
  -webkit-flex: 0 0 47%;
  flex: 0 0 47%;
}
/* line 356, ../sass/style.scss */
#about .side_contents .side_contents_text p, #shop_info .side_contents .side_contents_text p {
  margin-bottom: 10px;
}
@media (min-width: 550px) {
  /* line 342, ../sass/style.scss */
  #about .side_contents, #shop_info .side_contents {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  /* line 364, ../sass/style.scss */
  #about .side_contents div, #shop_info .side_contents div {
    -webkit-flex: 1;
    flex: 1;
  }
  /* line 368, ../sass/style.scss */
  #about .side_contents a, #shop_info .side_contents a {
    display: block;
    text-align: center;
  }
}

/* line 379, ../sass/style.scss */
.pagetop {
  text-align: center;
  padding: 20px;
  border-bottom: solid 2px #887f69;
}
@media (min-width: 550px) {
  /* line 379, ../sass/style.scss */
  .pagetop {
    text-align: right;
  }
}

/* line 390, ../sass/style.scss */
.footer_menu {
  padding: 15px;
  /* position: relative;
  @include clearfix; */
}
/* line 396, ../sass/style.scss */
.footer_menu ul {
  list-style: none;
  margin: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
/* line 405, ../sass/style.scss */
.footer_menu ul li {
  font-size: 14px;
  font-size: 1.4rem;
  white-space: nowrap;
  margin: 0;
  padding: 0 5px;
  -webkit-flex: 0;
  flex: 0;
}
/* line 413, ../sass/style.scss */
.footer_menu ul li a {
  text-decoration: none;
  color: inherit;
}

/* line 423, ../sass/style.scss */
.copyright {
  color: #b0b0b0;
  font-size: 12px;
  font-size: 1.2rem;
  text-align: center;
  letter-spacing: 0.5px;
}

/* line 432, ../sass/style.scss */
.breadcrumb {
  background-color: #e2ddd4;
}
/* line 435, ../sass/style.scss */
.breadcrumb ul {
  list-style: none;
  margin-bottom: 15px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
/* line 444, ../sass/style.scss */
.breadcrumb li, .breadcrumb li.home {
  color: #887f69;
  font-size: 12px;
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 10px 5px;
  margin: 0;
  -webkit-flex: 0;
  flex: 0;
  white-space: nowrap;
}
/* line 454, ../sass/style.scss */
.breadcrumb li a, .breadcrumb li.home a {
  text-decoration: none;
  color: inherit;
}
/* line 460, ../sass/style.scss */
.breadcrumb li.home {
  background-image: url(../images/list/home_icon.png);
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 18px;
  margin-left: 10px;
}

/* line 471, ../sass/style.scss */
.category_photo_pc {
  display: none;
}
@media (min-width: 550px) {
  /* line 471, ../sass/style.scss */
  .category_photo_pc {
    display: block;
  }
}

@media (min-width: 550px) {
  /* line 479, ../sass/style.scss */
  .category_photo_sp {
    display: none;
  }
}

/* line 486, ../sass/style.scss */
#category_items {
  margin: 10px 0;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
/* line 494, ../sass/style.scss */
#category_items .item {
  -webkit-flex: 1 1 45%;
  flex: 1 1 45%;
  background-color: #fff;
  padding: 7px;
  margin: 1px;
  text-align: center;
}
/* line 501, ../sass/style.scss */
#category_items .item h3 {
  font-size: 15px;
  font-size: 1.5rem;
  letter-spacing: .5px;
  margin-bottom: 5px;
  text-align: left;
}
/* line 508, ../sass/style.scss */
#category_items .item p {
  font-size: 15px;
  font-size: 1.5rem;
  text-align: left;
  margin: 0;
}
@media (min-width: 550px) {
  /* line 517, ../sass/style.scss */
  #category_items .item {
    -webkit-flex: 1 1 30%;
    flex: 1 1 30%;
  }
}
/* line 523, ../sass/style.scss */
#category_items .pagenation {
  margin: 15px 0;
  width: 100%;
  overflow: hidden;
  *zoom: 1;
}
/* line 529, ../sass/style.scss */
#category_items .pagenation .back {
  float: left;
}
/* line 533, ../sass/style.scss */
#category_items .pagenation .next {
  float: right;
}
/* line 537, ../sass/style.scss */
#category_items .pagenation a {
  color: #fff;
  font-weight: bold;
  background-color: #887f69;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 20px;
}

/* line 550, ../sass/style.scss */
#recent_pro {
  padding-top: 45px;
  margin: 30px 0;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-start;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  background-image: url(../images/list/title_recent_pro.png);
  background-position: top center;
  background-repeat: no-repeat;
}
@media screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  /* line 550, ../sass/style.scss */
  #recent_pro {
    background-image: url("../images/list/title_recent_pro@2x.png");
  }
}
/* line 567, ../sass/style.scss */
#recent_pro .item {
  -webkit-flex: 0 1 45%;
  flex: 0 1 45%;
  background-color: #fff;
  padding: 7px;
  margin: 1px;
  text-align: center;
}
/* line 574, ../sass/style.scss */
#recent_pro .item h3 {
  font-size: 15px;
  font-size: 1.5rem;
  letter-spacing: .5px;
  margin-bottom: 5px;
  text-align: left;
}
/* line 581, ../sass/style.scss */
#recent_pro .item p {
  font-size: 15px;
  font-size: 1.5rem;
  text-align: left;
  margin: 0;
}
@media (min-width: 550px) {
  /* line 550, ../sass/style.scss */
  #recent_pro {
    background-image: url(../images/list/recent_pro_pc.png);
    background-position: top center;
    background-repeat: no-repeat;
  }
  /* line 593, ../sass/style.scss */
  #recent_pro .item {
    -webkit-flex: 0 1 30%;
    flex: 0 1 30%;
  }
}

/* line 604, ../sass/style.scss */
#product {
  background-color: #fff;
  padding: 20px 10px;
}
/* line 608, ../sass/style.scss */
#product .product_title {
  border-bottom: solid 2px #e2ddd4;
  margin-bottom: 15px;
}
/* line 613, ../sass/style.scss */
#product .product_title h1 {
  font-size: 20px;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 0 0 5px 0;
}
/* line 620, ../sass/style.scss */
#product .product_title p {
  font-size: 15px;
  font-size: 1.5rem;
  color: #b0b0b0;
  margin: 0 0 15px 0;
}
/* line 628, ../sass/style.scss */
#product .product_img {
  border-bottom: solid 2px #e2ddd4;
  padding-bottom: 10px;
}
/* line 633, ../sass/style.scss */
#product .product_img ul {
  list-style: none;
  margin: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
/* line 642, ../sass/style.scss */
#product .product_img ul li {
  -webkit-flex: 1 0 16%;
  flex: 1 0 16%;
  padding-right: 5px;
  margin: 0;
}
/* line 648, ../sass/style.scss */
#product .product_img ul li:nth-child(5n) {
  padding-right: 0;
}
@media (min-width: 550px) {
  /* line 604, ../sass/style.scss */
  #product {
    padding: 30px 50px;
  }
  /* line 660, ../sass/style.scss */
  #product .product_title {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-direction: row;
    flex-direction: row;
  }
  /* line 666, ../sass/style.scss */
  #product .product_title h1 {
    -webkit-flex-grow: 3;
    flex-grow: 3;
    font-size: 18px;
    font-size: 1.8rem;
  }
  /* line 671, ../sass/style.scss */
  #product .product_title p {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    font-size: 14px;
    font-size: 1.4rem;
    text-align: right;
  }
  /* line 679, ../sass/style.scss */
  #product .product_img {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-direction: row;
    flex-direction: row;
  }
  /* line 685, ../sass/style.scss */
  #product .product_img .display_img {
    -webkit-flex: 5;
    flex: 5;
    -webkit-align-self: flex-start;
    align-self: flex-start;
    padding-right: 10px;
  }
  /* line 691, ../sass/style.scss */
  #product .product_img ul {
    -webkit-flex: 2;
    flex: 2;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  /* line 699, ../sass/style.scss */
  #product .product_img ul li {
    -webkit-flex: 1 0 45%;
    flex: 1 0 45%;
    padding-right: 10px;
  }
  /* line 704, ../sass/style.scss */
  #product .product_img ul li:nth-child(5n) {
    padding-right: 10px;
  }
  /* line 708, ../sass/style.scss */
  #product .product_img ul li:nth-child(2n) {
    padding-right: 0;
  }
}
/* line 719, ../sass/style.scss */
#product .product_color table {
  width: 100%;
}
/* line 722, ../sass/style.scss */
#product .product_color table th {
  color: #887f69;
  background: #f9f8f6;
  font-weight: 400;
}
/* line 728, ../sass/style.scss */
#product .product_color table td {
  color: #e2ddd4;
}
/* line 732, ../sass/style.scss */
#product .product_color table th, #product .product_color table td {
  text-align: center;
  border: solid 2px #e2ddd4;
  padding: 10px 0;
  font-size: 15px;
  font-size: 1.5rem;
}
/* line 742, ../sass/style.scss */
#product .product_price {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
/* line 746, ../sass/style.scss */
#product .product_price .price {
  border-top: solid 2px #e2ddd4;
  border-bottom: solid 2px #e2ddd4;
  padding: 10px 0;
  -webkit-flex: 1;
  flex: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-flex-direction: row;
  flex-direction: row;
}
/* line 757, ../sass/style.scss */
#product .product_price .price h2 {
  -webkit-flex: 0 1 100px;
  flex: 0 1 100px;
  margin: 0;
}
/* line 761, ../sass/style.scss */
#product .product_price .price h2 img {
  vertical-align: middle;
}
/* line 766, ../sass/style.scss */
#product .product_price .price p {
  -webkit-flex: 0 1 180px;
  flex: 0 1 180px;
  font-style: italic;
  margin: 0;
}
/* line 771, ../sass/style.scss */
#product .product_price .price p span.red {
  color: #ff0080;
  font-weight: bold;
  letter-spacing: 1px;
}
/* line 777, ../sass/style.scss */
#product .product_price .price p span.large {
  font-size: 26px;
  font-size: 2.6rem;
}
/* line 784, ../sass/style.scss */
#product .product_price .quantity {
  border-bottom: solid 2px #e2ddd4;
  padding: 10px 0;
  -webkit-flex: 1;
  flex: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-flex-direction: row;
  flex-direction: row;
}
/* line 794, ../sass/style.scss */
#product .product_price .quantity h2 {
  -webkit-flex: 0 1 100px;
  flex: 0 1 100px;
  margin: 0;
}
/* line 798, ../sass/style.scss */
#product .product_price .quantity h2 img {
  vertical-align: middle;
}
/* line 803, ../sass/style.scss */
#product .product_price .quantity input {
  -webkit-flex: 0 1 180px;
  flex: 0 1 180px;
  margin: 0;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 812, ../sass/style.scss */
#product .product_price .cart {
  text-align: center;
  padding-top: 15px;
  -webkit-flex: 1;
  flex: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media (min-width: 550px) {
  /* line 822, ../sass/style.scss */
  #product .product_price .product_price {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  /* line 827, ../sass/style.scss */
  #product .product_price .product_price .price {
    -webkit-flex: 0 1 280px;
    flex: 0 1 280px;
    -webkit-order: 1;
    order: 1;
  }
  /* line 832, ../sass/style.scss */
  #product .product_price .product_price .quantity {
    -webkit-flex: 0 1 280px;
    flex: 0 1 280px;
    -webkit-order: 3;
    order: 3;
  }
  /* line 837, ../sass/style.scss */
  #product .product_price .product_price .cart {
    -webkit-flex: 0 1 170px;
    flex: 0 1 170px;
    -webkit-order: 2;
    order: 2;
  }
}
/* line 850, ../sass/style.scss */
#product .product_text h2 {
  color: #887f69;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: bold;
  border-bottom: solid 2px #887f69;
  padding: 15px 0;
}
/* line 858, ../sass/style.scss */
#product .product_text h3 {
  color: #887f69;
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 15px;
}
/* line 865, ../sass/style.scss */
#product .product_text table {
  width: 100%;
}
/* line 868, ../sass/style.scss */
#product .product_text table th {
  background: #f9f8f6;
  font-weight: 400;
  text-align: center;
  padding: 12px;
  width: 25%;
}
/* line 876, ../sass/style.scss */
#product .product_text table td {
  padding: 12px;
}
/* line 880, ../sass/style.scss */
#product .product_text table th, #product .product_text table td {
  font-size: 15px;
  font-size: 1.5rem;
  color: #887f69;
  border: solid 2px #e2ddd4;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
